doctype
html(lang="EN")
    head
        include inc/vars.jade
        title #{homeTitle} - Kosowwwa Digital Agency
        include inc/meta.jade
        include inc/styles.jade
    body
        include inc/hero.jade
        include inc/block-1.jade
        include inc/blockSupport.jade
        include inc/footer.jade
