doctype
html(lang="EN")
    head
        include inc/vars.jade
        title #{serviceTitle} - Kosowwwa Digital Agency
        include inc/meta.jade
        include inc/styles.jade
    body
        include inc/serviceHero.jade
        include inc/services.jade
        include inc/footer.jade
