.container.p130
    .row.flex
        .col.s12.m6.l6
            h2.ddmH Design, Development, Marketing.
            p.ddmP We're focused on building websites for local and international clients, one pixel at a time. Get an estimate for your project and calculate everything by using the get started button below.
            a(href="#", class="gs-btn") Get Started
        .col.s12.m6.l6
            img(src="assets/img/laptop.png", alt="Laptop", class="laptop")
    hr
    .row.flex.triFeatures
        .col.s12.m3.l3
            span Design
            p We build websites that ignite your business. Start off on the right foot, let us handle everythign for your next super website.
        .col.s12.m1.l1
        .col.s12.m3.l3
            span Development
            p We build websites that ignite your business. Start off on the right foot, let us handle everythign for your next super website.
        .col.s12.m1.l1
        .col.s12.m3.l3
            span Marketing
            p We build websites that ignite your business. Start off on the right foot, let us handle everythign for your next super website.
        .col.s12.m1.l1
