.blockSupport
    .container
        .content
            .valign-wrapper
                .row
                    .col.s12.m12.l12
                        i.material-icons leak_add
                        span 24/7/365
                        h2.ddmH Dedicated Support Team
                        p Kosowwwa recognizes the importance of delivering support service with not only the experience and technical knowledge but also with the understanding of our client's compliance requirments. Our support team of experienced and dedicated consultants is comitted to delivering timely resonse.
                        a(href="#", class="chatNow") Support Desk
