.servicesBg.contactBg
    .heroX
        include nav.jade
        .container.heroContainer
            .row
                .col.s12.m7.l7
                    .valign-wrapper(style="height: 60vh;")
                        .serviceInfo
                            h1 +1 518 889 6777
                            .xDivider
                            p Kosowwwa Digital Agency customer support is available free of charge. Connection charges can vary when calling from outside the area, abroad or from a mobile phone, depending on your specific phone plan.
                .col.s12.m5.l5
