.dhGrid
    div.domain.waves-effect.waves-dark
        img(src="assets/img/domain.svg", alt="Domain Icon")
        h5 Domain
        p  Find your perfect domain name.
    div.hosting.waves-effect.waves-dark
        img(src="assets/img/hosting.svg", alt="Hosting Icon")
        h5 Hosting
        p  Hosting is what makes your site visible on the web.
