footer
    .container
        .row.flex
            .col.s12.m4.l4
                img(src="assets/img/kosowwwa_black.svg", alt="Kosowwwa Logo", class="logo")
                p Kosowwwa is a digital agency in Ferizaj, Kosovo founded in 2018 to help businesses grow online.
                p Rr. Gilanit, Ferizaj 70000 XK
            .col.s12.m2.l2
            .col.s12.m3.l3
                h5 Navigation
                ul
                    li
                        a(href="#") Home
                    li
                        a(href="#") Portfolio
                    li
                        a(href="#") Services
                    li
                        a(href="#") Support
                    li
                        a(href="#") Log In
                    li
                        a(href="#") Webmail
            .col.s12.m3.l3
                h5 +383 45 29 23 29
                p Available from 12PM-18PM
                hr
                h5 mail@support.al
                p Available 24/7
                hr
                h5 billing@kosowwwa.com
                p Regarding billing, please use the email listed above.
.copyright
    p All rights reserved. Copyright &copy; 2018 KOSOWWWA Digital Agency by HAPwebsite

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js")
script(src="assets/master.js")
