footer
    .container
        .row.flex
            .col.s12.m4.l4
                img(src="assets/img/kosowwwa_black.svg", alt="Kosowwwa Logo", class="logo")
                p Kosowwwa is a digital agency in Ferizaj, Kosovo founded in 2018 to help businesses grow online.
                p Ferizaj 70000 XK
                ul.socialIconsFooter
                    li
                        a(href="https://www.facebook.com/kosowwwa")
                            img(src="assets/img/facebook-logo-button.svg")
                    li
                        a(href="https://www.instagram.com/kosowwwa")
                            img(src="assets/img/instagram-logo.svg")
            .col.s12.m2.l2
            .col.s12.m3.l3
                h5 Navigation
                ul.quickLinks
                    li
                        a(href="index.html") Home
                    li
                        a(href="services.html") Services
                    li
                        a(href="https://www.support.al") Support
                    li
                        a(href="contact.html") Contact
                    li
                        a(href="login.html") Log In
                    li
                        a(href="https://www.383.email") Webmail
            .col.s12.m3.l3
                h5 +383 45 29 23 29
                p Available from 12PM-8PM
                hr
                h5 mail@support.al
                p Available 24/7
                hr
                h5 billing@kosowwwa.com
                p For billing please e-mail us.
.copyright
    p All rights reserved. Copyright &copy; 2018 KOSOWWWA Digital Agency by HAPwebsite

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js")
script(src="assets/master.js")
