.hero
    nav.transparent.noshadow
       .nav-wrapper.container
            a(href="index.html", class="brand-logo")
                img(src="assets/img/kosowwwa_white.svg", alt="Kosowwwa Logo")
            ul(id="nav-mobile", class="right hide-on-med-and-down")
                li
                    a(href="#") Portfolio
                li
                    a(href="#") Services
                li
                    a(href="#") Contact
                li
                    a(href="#", class="login-btn")
                        span Log In
    .container.heroContainer
        .row
            .col.s12.m7.l7
                .valign-wrapper(style="height: 80vh;")
                    h1 Passion, dedication, and a lot of coffee.
            .col.s12.m5.l5
    .container.sliderX
        .row.flex
            .col.s12.m4.l4
                .slideOne
                    i(class="material-icons") cloud_queue
                    p We build websites that ignite your business. Start off on the right foot, let us handle everythign for your next super website.
            .col.s12.m4.l4
                .slideTwo
                    i(class="material-icons") business
                    p.x A true business partner. We'd like to have you in our list of super customers. Let's start by getting seen online with us.
            .col.s12.m4.l4
                .slideThree
                    i(class="material-icons") help_outline
                    p Dedicated team of monkeys to make sure everything is up and running all the time. Reach our support 24/7.
