meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="author", content="Kosowwwa Digital Agency")
meta(name="description", content="Kosowwwa is an Digital Agency based in Ferizaj, Kosovo. Focused on Website Designing and Advertising.")
meta(name="keywords", content="Kosowwwa, Digital, Agency, Kosovo, Website, Webfaqe, Web, Faqe, Site, Reklama, Design, Dizajn, Ferizaj, Prishtine, Gilan, Prizeren, Peja, Gjakova, Mitrovica, Merrjep, Gjirafa, Auto Sherreti, Sherreti, Alberti")
