#modalWebDesign.modal.modal-fixed-footer
    .modal-content
        h4 Web Design / Interactive
        |
        h5 Web Design Company
        p The best web design companies understand that your website is the first impression for your company and where customers make the decision to do business with you, decide what products to buy, learn about events that are scheduled, who to consult, and what information is most important to them. It is about giving the user an exceptional user experience.

        p The Creative Momentum provides custom web site designs that by far, stand out from the rest of the competitors. We provide more than just a lavish front-end design. We also build everything with an intuitive architecture that guides the user through the flow of actions you want them to follow. Your website needs to be intelligently designed to stay consistent with your brand and represent your business in a professional way because your website is always communicating.

        p The Creative Momentum design specialists and development teams are expertly experienced in creating and enhancing websites designed to showcase your business while helping to maximize your return on investment.
        p Just a few of our custom web design specialties we offer:
        - list = ["Website Design & Development","e-Commerce design and development","Interactive Design","Information Architecture","Usability Testing","Form Integrations: Contact/Order/Schedule Service/Request","Content Management Systems (CMS)","Mobile / Responsive Website Designs","Web Hosting","Web Analytics","E-Mail Marketing","Mobile Marketing","Branding Strategy","Videos and Video Integration","Blogs, FAQ's, Coupons, Resource Libraries","Content Writing Services","Photo Gallery Systems","Calendar and Event Scheduling Systems","Intranets and Private/Secure Logins","Flash Presentations","Spring cleaning on your code","Copywriting","Product Marketing"]
        ul
            each item in list
                li
                    = item
    .modal-footer
        a.modal-close.waves-effect.waves-dark.btn-flat(href="#!") Close
// Modal of UI/UX Below
#modalUIUX.modal.modal-fixed-footer
    .modal-content
        h4 UI / UX
        |
        h5 UX Design Agency
        p Kosowwwa Digital Agency is passionate about an intuitive user experience because the user is ultimately the one who is the target. We focus on the wants and needs of the user to create stunning solutions through our experience in Research, Strategy, and Design methodologies.
        b Research
        p By researching users within the guidelines of their environment, and collecting important information about the user to create a well-informed view of the visual experience. Our in-depth product research grows insights and brings light additional strategies. This ensures ease of use of the design, and reduces the need for expensive re-work before an investment is made in development. Ultimately, our methods enable us to innovate empathetically and remain focused on the user.
        b Strategy
        p Equipped with our research findings, we are able to plan with our clients the most effective path to get to market. Together, we look beyond the boundaries of thinking in terms of features and functions and launch into considering the real holistic needs of the people who will use the product. We employ a combination of strategy tools that can vary according to specific project and client needs. The result is that we establish meaningful user experience strategies for our clients, success metrics, deliverables, and long-term governance.
        b Design
        p We create digital experiences for any platform that reflect your brand, vision, and end-user needs. Taking the Research and Strategy findings, we start the iterative design process. Through a variety of collaborative techniques we spark not only the creation of individual screens but also generate a consistent and reusable design language as we progress through interaction and visual design. Throughout all of this, we keep the user at the center of every decision. This allows the synthesis of ideas to encapsulate the entire user experience, beyond a single isolated product interaction, and keep it as a set of actions, perceptions, feelings, and emotions that begins the moment a user wakes up to the moment they go to sleep at night.
    .modal-footer
        a.modal-close.waves-effect.waves-dark.btn-flat(href="#!") Close
// Modal of Mobile Design
#modalMobileDesign.modal.modal-fixed-footer
    .modal-content
        h4 Mobile Design
        |
        h5 Responsive Web Design
        p With tablets and smartphones on the rise, nearly half of all internet users access online content from their mobile devices.

        p If your website is not optimized to be viewed on mobile devices, then you may be losing customers. We design web sites that can be viewed on desktops as well as mobile devices, or we can take it a step further, and design a dedicated mobile site that your customers can be automatically directed to while on-the-go. To make the website compatible and adapt itself to devices with different resolutions and sizes, the responsive design will play an integral part in developing any web application or site.

        b What is responsive web design?
        p When a website is designed and developed, the display qualities is rendered to a full screen monitor of a PC, which when viewed on a screen of different size or resolution needs readjustment by the user. To reduce the consequences of losing visitors or prospective clients, web designers and developers have devised a method by using the CSS that will automatically adjust webpage layouts for optimal content display for any screen size or resolution.

        b Responsive design for better business performance
        p Experts predict mobile browsing will overtake desktop browsing over the next few years. Online businesses are now looking forward to adapting new strategies to render users a feature-rich experience using a responsive design. And since responsive design makes website compatible with devices of almost all sizes, enterprises can attract customers without any technical hindrances.
        b Responsive design for SEO
        p One single site to maintain means that SEO analysts have to build a single set of links, avoiding extra server load, site speed and maintenance issues. Since search engines does not optimize for search based on devices, the onus is on the SEO to redirect customers to the site to meet their device needs.
    .modal-footer
        a.modal-close.waves-effect.waves-dark.btn-flat(href="#!") Close
// Modal of Branding
#modalBranding.modal.modal-fixed-footer
    .modal-content
        h4 Branding / Company Identity
        |
        h5 Quality. Strength. Ability. Boldness. Trust. What does your brand say about you?
        p When the time comes for a customer to decide on a brand will you be their first choice? Your brand needs to tell your story to the customer both consciously and subconsciously conveying the qualities that make you the best choice. The Creative Momentum is a group of brand specialists and we know that your brand is more than just a logo.
        p Just a few of our custom branding and corporate identity design specialties we offer:
        - brandinglist = ["Brand Evaluation","Name Development","Logo Design / Corporate Identity","Brand Guidelines","Taglines","Company & Product Naming","Content Strategy","Copywriting","Product Marketing"]
        ul
            each item in brandinglist
                li
                    = item
    .modal-footer
        a.modal-close.waves-effect.waves-dark.btn-flat(href="#!") Close
// Modal of Graphic Design
#modalGraphicDesign.modal.modal-fixed-footer
    .modal-content
        h4 Graphic Design
        |
        h5 Are you memorable?
        p The differentiator between you and the competitor is your design and you stand out in an over populated marketplace. Our expert team of designers will craft the difference that gives you the validity and momentum your company needs to standout in the marketplace.
        p Just a few custom graphic design specialties we offer:
        - graphicdesignlist = ["Logo Design","Brochure Design","Package Design","Graphic Standards Manuals","Collateral Development","Annual Reports","Point-of-Purchase Displays","Multimedia Presentations","Trade Show Display Design","Print Production","Print Requisition Systems","Way Finding Systems","Product Marketing","Point of Sale","Packaging","Copywriting","Sales & General Presentations"]
        ul
            each item in graphicdesignlist
                li
                    = item
    .modal-footer
        a.modal-close.waves-effect.waves-dark.btn-flat(href="#!") Close

// Modal of Video Media
#modalVideoMedia.modal.modal-fixed-footer
    .modal-content
        h4 Video / Media
        |
        h5 Reading is boring.
        p Your audience wants a fast, efficient, and interesting way to absorb information about your products without lifting one tired finger. According to PRWeb, did you know your website is 53 times more likely to be placed on the first page of Google when a video is displayed on your website?
        p At The Creative Momentum we do all the heavy lifting for you. We have a team of knowledgeable researchers seasoned with experience that helps us quickly evolve and adapt your strategy based on our findings and the demanding needs of your brand.
        b Custom Explainer Videos, Innovative Process, Astounding Results.
        - videomedialist = ["Coffee - We meet, brainstorm ideas, and help you plot your internet invasion.","Script - We take your ideas and put together a script, which will become the coolest story ever.","Storyboard - Once the script is finalized, we custom design and draw a sketch of your video","Animation - We make your storyboard move like Bruno Mars","Production - Your custom explainer video comes to life","PR & Communications - we advertise it, post it, and promote the heck out of it."]
        ul
            each item in videomedialist
                li
                    = item
        b Launch it. Love it. Promote it.
        p After the handiwork of our animation staff is completed and your video is launched, it’s vital that we promote it on the proper channels to a targeted audience. We will come up with a customizable campaign specific to your video, your website, and most importantly your industry.
    .modal-footer
        a.modal-close.waves-effect.waves-dark.btn-flat(href="#!") Close

// Modal of SEO
#modalSEO.modal.modal-fixed-footer
    .modal-content
        h4 SEO - Search Engine Optimization
        |
        h5 You sell something great. [Unfortunately, so do millions of others]. Who wins?
        p Search engines like Google tell buyers which sites are most relevant and credible. As one of the best SEO companies, Creative Momentum knows how to get your site found, trusted and loved! We frequently raise our clients to the #1 spot, where sites grab over 36% of all clicks! No other marketing technique has a greater impact on the buying cycle. We bake strategic thought into the DNA of every web site we create. Our comprehensive SEO services integrate keyword research, competitive analysis and reporting, on-page and off-page SEO, training, video SEO best practices and much more to get killer conversions at a minimal investment.
        p Not Just Another Atlanta SEO Agency!
        h6 Strategic Search Engine Optimization Campaigns Customized to Your Goals
        b Need SEO that Creates Momentum?
        br
        br
        h3 Adaptive Marketing is our philosophy...
        p It’s easy to get on the first page in the top 10 rankings on search engines, when you follow our lead. We are accountable and set realistic expectations based on your goals and budget, which we can achieve, improve, redefine, and repeat. It’s not just about being number one! It’s all about what happens when searchers see your site on page one, and everything thereafter.

        p We make sure your foundation is solid for both your users and search engines. Why optimize for search engines, when you can optimize for your customer?! After all, search engines are creating algorithms that are meant to interpret our needs and the best solution. Google’s underlying principle is that they want to take all the work out of research and provide the right solution every time a search is initiated.

        p Yes, we optimize technically to be ranked number one, while we love to ultimately optimize to target your user personas based on where they are in the buyer’s journey! When you position the right content that comes up in a search for the intended keyword, you are helping your customers and ultimately growing your revenue. The rest of the momentum we create comes in the experience after they land on your site. SEO is not just about being #1, it’s about creating the best content that directly relates to your user’s need. It’s this great content that not only helps organic rankings, but can also be leveraged by all other Inbound media channels.

        p Our approach to SEO is not just about rankings and cookie cutter reports with recommendations. We provide SEO strategies based on campaigns; we are all about driving qualified leads that continually improve your ROI while expanding your organic positioning with great content creation!

        p. Adaptive Marketing Approach
        |  We do everything every other SEO agency does,
        |  and much more!

        - seolist = ["Sitewide Technical Analysis and Repair of all SEO Factors","Holistic sitewide optimization (we‘ve never had to recover from penalties or algorithm updates)","SEO that leverages Inbound methodologies","Optimization of Organic Conversion Funnels","Daily health and rankings monitoring","Local Optimization","Social Optimization","Structured Data Integration","Content Creation","Content Strategy & Calendar","Link Audits (and disavowal when needed)","Mobile Analysis and Optimization","Internal & External Duplicate Content Analysis","Ecommerce Best Practices","Daily Rank Checking","Monthly reporting around content issues and wins, traffic, rankings, conversions, and ROI"]
        ul
            each item in seolist
                li
                    = item

        p.black-text The Things that take SEO to the Next Level

        - seo2list = ["Persona & Buyer’s Journey/Sales Cycle based optimization","Process & Training for Internal Client Teams","SEO Tools Analysis & Recommendations","Rich Media & Content Upgrades for Engagement and Conversion Tracking","Analytics Analyses and Data Quality Monitoring & Assurances","Web Performance Monitoring","International Optimization","Content Management & Curation","Campaign Continuity across Paid, Owned, and Earned Media Channels","Advanced Analytics Strategies & Integrations","For website traffic analysis and conversion/engagement analysis"]
        ul
            each item in seo2list
                li
                    = item

        p.black-text Things we analyze to do what we do!

        - seo3list = ["Historical Organic Analysis and Insights","Current Organic Market Share Analysis","Competitor Deep Dives","Technical Audits of Onpage and Offpage factors","Content & Gaps Analyses","Organic Conversion Analysis","Usability (UX) Testing Analysis for Organic Traffic","Information Architecture (IA) Analysis as it relates to SEO","Local Profile Analysis","Social Analysis"]
        ul
            each item in seo3list
                li
                    = item

    .modal-footer
        a.modal-close.waves-effect.waves-dark.btn-flat(href="#!") Close
// Modal of Advertising
#modalADS.modal.modal-fixed-footer
    .modal-content
        h4 Advertising
        |
        h5 Advertising is selectively telling your story in an impactful and memorable way utilizing words, imagery, timing, placement and movement.
        p The Creative Momentum, a full service advertising agency, is in tune with your brand, ideas, strategy, message and product and can help you live in the minds of your target audience.
        b Just a few custom advertising specialties we offer
        - adslist = ["Creative Development","Copywriting","Print: Magazine, Newspaper","Direct Mail/Email Campaigns","Outdoor: Billboards, Transit","Multimedia Displays","Online Ad Campaigns"]
        ul
            each item in adslist
                li
                    = item

    .modal-footer
        a.modal-close.waves-effect.waves-dark.btn-flat(href="#!") Close
