nav.transparent.noshadow
   .nav-wrapper.container
        a(href="index.html", class="brand-logo")
            img(src="assets/img/kosowwwa_white.svg", alt="Kosowwwa Logo")
        ul(id="nav-mobile", class="right hide-on-med-and-down")
            li
                a(href="index.html") Home
            li
                a(href="services.html") Services
            li
                a(href="contact.html") Contact
            li
                a(href="login.html", class="login-btn")
                    span Log In
