.container.services
    .row.p120-0
        .col.s12.m4.l4
            img(src="assets/img/monitor.svg" alt="Web Design - Interactive")
            h5  Web Design / Interactive
            p   The Internet is an ever changing environment that demands that you keep up with the latest and greatest communication platforms. Your website is the first impression for your company and where customers make the decision to do business with you, decide what products to buy...
            a(href="#modalWebDesign", class="modal-trigger").sr-btn Read More
        .col.s12.m4.l4
            img(src="assets/img/ui.svg" alt="UI / UX")
            h5  UI / UX
            p   Kosowwwa Digital Agency is passionate about an intuitive user experience because the user is ultimately the one who is the target. We focus on the wants and needs of the user to create stunning solutions through our experience in Research, Strategy, and Design methodologies...
            a(href="#modalUIUX", class="modal-trigger").sr-btn Read More
        .col.s12.m4.l4
            img(src="assets/img/app-development.svg" alt="Mobile Design")
            h5  Mobile Design
            p   With tablets and smartphones on the rise, nearly half of all internet users access online content from their mobile devices. If your website is not optimized to be viewed on mobile devices, then you may be losing customers. We design web sites that can be viewed on desktops as well as mobile devices.
            a(href="#modalMobileDesign", class="modal-trigger").sr-btn Read More
        .col.s12.m4.l4
            img(src="assets/img/brand.svg" alt="Branding / Company Identity")
            h5  Branding / Company Identity
            p   Quality. Strength. Ability. Boldness. Trust. What does your brand say about you? When the time comes for a customer to decide on a brand will you be their first choice? Your brand needs to tell your story to the customer...
            a(href="#modalBranding", class="modal-trigger").sr-btn Read More
        .col.s12.m4.l4
            img(src="assets/img/computer.svg" alt="Graphic Design")
            h5  Graphic Design
            p   Are you memorable? The differentiator between you and the competitor is your design and you stand out in an over populated marketplace. Our expert team of designers will craft the difference...
            a(href="#modalGraphicDesign", class="modal-trigger").sr-btn Read More
        .col.s12.m4.l4
            img(src="assets/img/video-player.svg" alt="Video / Media")
            h5  Video / Media
            p   Media is like vapor in that it is always changing. Kosowwwa Digital Agency creates dynamic and creative plans that move with the market. We have a team of knowledgeable researchers skilled...
            a(href="#modalVideoMedia", class="modal-trigger").sr-btn Read More
        .col.s12.m4.l4
            img(src="assets/img/analysis.svg" alt="SEO - Search Engine Optimization")
            h5  SEO - Search Engine Optimization
            p   We have a client-centric, strategic approach to Search. Each client has a unique set of circumstances when it comes to Search Marketing and that’s why a customized mix of PPC, SEO, Contextual Advertising is critical to climbing the ladder.
            a(href="#modalSEO", class="modal-trigger").sr-btn Read More
        .col.s12.m4.l4
            img(src="assets/img/advertising.svg" alt="Advertising")
            h5  Advertising
            p   Advertising is selectively telling your story in an impactful and memorable way utilizing words, imagery, timing, placement and movement. Kosowwwa Digital Agency is in tune with your brand, ideas, strategy, message and product and can help you...
            a(href="#modalADS", class="modal-trigger").sr-btn Read More
        .col.s12.m4.l4
            img(src="assets/img/digital-marketing.svg" alt="Digital Marketing")
            h5  Digital Marketing
            p   Are you planning to launch a website, campaign, product rollout, re-brand, conference, tradeshow, or a business event? Here at Kosowwwa Digital Agency our team has a strong foundation in short-term and long-term planning...
            a(href="#modalDigitalMarketing", class="modal-trigger").sr-btn Read More
include modals.jade
