.servicesBg
    .heroX
        include nav.jade
        .container.heroContainer
            .row
                .col.s12.m7.l7
                    .valign-wrapper(style="height: 60vh;")
                        .serviceInfo
                            h1 Our Services
                            .xDivider
                            p Our full-service creative and digital marketing agency, specializing in custom web design and development for businesses that feel their branding strategy is "coasting" at best. Kosowwwa Digial Agency provides custom Web / Interactive, Marketing, SEO, Custom Graphic / Logo Design, Branding, Advertising, Media, Mobile Design and Strategic Planning to clients in high-tech B2B, B2C, consulting, security and non-profit.
                .col.s12.m5.l5
