.servicesBg
    .heroX
        include nav.jade
        .container.heroContainer
            .row
                .col.s12.m7.l7
                    .valign-wrapper(style="height: 60vh;")
                        hgroup
                            h1 Our Services
                            h5 We do ofer a wide range of services
                .col.s12.m5.l5
